<h4>Contact <small>Form</small></h4>
<hr>
<form (ngSubmit)="submitForm(contactForm); contactForm.reset()" novalidate #contactForm="ngForm">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger': name.errors?.required && name?.touched}">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="contactInfo.name" required #name ="ngModel" >
        <div *ngIf="name.errors?.required && name?.touched" class="form-control-feedback">
          Name is required
        </div>
      </div>
    </div>


    <div class="form-group row" [ngClass]="{'has-danger': lastname.errors?.required && lastname?.touched}">
      <label class="col-2 col-form-label">Last Name</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Last Name" name="lastname"
               [(ngModel)] = "contactInfo.lastname" #lastname = "ngModel" required>
        <div *ngIf="lastname.errors?.required && lastname?.touched" class="form-control-feedback">
          Last name is required
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger': (codearea.errors?.required && codearea?.touched) || (phone.errors?.required && phone?.touched)}">
      <label class="col-2 col-form-label">Phone</label>

      <div class="col-1">
        <input class="form-control" type="text" name="codearea" placeholder="code area"
               [(ngModel)] = "contactInfo.codeArea" #codearea = "ngModel" required>
        <div *ngIf="codearea.errors?.required && codearea?.touched" class="form-control-feedback">
          Code is required
        </div>
      </div>

      <div class="col-7">

        <input class="form-control" type="text" name="phone" placeholder="phone number"
               [(ngModel)] = "contactInfo.phone" #phone = "ngModel" required>
        <div *ngIf="phone.errors?.required && phone?.touched" class="form-control-feedback">
          Phone is required
        </div>
      </div>
    </div>

  <div class="form-group row" [ngClass]="{'has-danger' : (email.errors?.pattern || email.errors?.required) && email?.touched}">
    <label class="col-2 col-form-label">Email</label>
    <div class="col-md-8">

      <input class="form-control" type="email" placeholder="email" name="email"
             [(ngModel)] = "contactInfo.emailAddress" required #email = "ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div *ngIf="email.errors?.pattern && email?.touched" class="form-control-feedback">
        email address does not have the correct pattern.
      </div>
      <div *ngIf="email.errors?.required && email?.touched" class="form-control-feedback">
        email is required
      </div>
    </div>

  </div>

  <div class="form-group row">
    <div class="col-2 col-form-label"></div>
    <div class="col-md-4">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="showFormContactOption" #showFormContactOption="ngModel" [(ngModel)]="contactInfo.showContactOptions">
          May we contact you
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="contactInfo.showContactOptions == true" [ngClass]="{'has-danger' : contact.errors?.required && contact?.touched}">

          <select class="form-control" name="contact" #contact="ngModel" [(ngModel)]="contactInfo.contactMedia" required>
            <option value="">contact option..</option>
            <option *ngFor="let p of contactMedia" [value]="p.codigo">{{p.value}}</option>
          </select>

      </div>
    </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-danger': feedback.errors?.required && feedback?.touched}">
    <label class="col-2 col-form-label">Feedback</label>
    <div class="col-8">

      <textarea class="form-control" name="feedback" [(ngModel)]="contactInfo.feedback" required #feedback ="ngModel" ></textarea>
      <div *ngIf="feedback.errors?.required && feedback?.touched" class="form-control-feedback">
        Feedback is required
      </div>
  </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!contactForm.valid">
        Send feedback
      </button>
    </div>
  </div>

</form>

<pre>

  {{contactInfo | json}}

</pre>
