<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]='contactDataForm' (ngSubmit)="submitForm()" novalidate="novalidate">

  <div formGroupName="nombrecompleto" >

    <div class="form-group row" [ngClass]=" {'has-danger' : contactDataForm.controls['nombrecompleto'].controls['nombre']?.errors?.required}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
        formControlName="nombre"
        [(ngModel)]="usuario.nombrecompleto.nombre">

        <div *ngIf="contactDataForm.controls['nombrecompleto'].controls['nombre']?.errors?.required" class="form-control-feedback">
          Name is required
        </div>

      </div>

    </div>

    <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['nombrecompleto'].controls['apellido'].invalid}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
        formControlName="apellido"
               [(ngModel)]="usuario.nombrecompleto.apellido">

        <div *ngIf="contactDataForm.controls['nombrecompleto'].controls['apellido']?.errors?.required" class="form-control-feedback">
          Lastname is required
        </div>

      </div>

    </div>

  </div>

  <div class="form-group row" [ngClass]=" {'has-danger' : contactDataForm.get('correo').invalid}">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
      formControlName="correo"
      [(ngModel)]="usuario.correo">

      <div *ngIf="contactDataForm.controls['correo']?.errors?.required" class="form-control-feedback">
        Correo is required
      </div>

      <div *ngIf="contactDataForm.controls['correo']?.errors?.pattern" class="form-control-feedback">
        Incorrect pattern
      </div>

    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['password1'].invalid}">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="password"
      formControlName="password1">

      <div *ngIf="contactDataForm.controls['password1'].errors?.required" class="form-control-feedback">
        Passwords is required
      </div>

    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['password2'].invalid}">
    <label class="col-2 col-form-label">Repetir Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="password"
      formControlName="password2">

      <div *ngIf="contactDataForm.controls['password2'].errors?.passwordDoesNotMatches" class="form-control-feedback">
        Passwords does not matches
      </div>

      <div *ngIf="contactDataForm.controls['password2'].errors?.required" class="form-control-feedback">
        Passwords is required
      </div>

    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['usuario'].invalid}">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="usuario"
      formControlName="usuario"
      [(ngModel)]="usuario.user">

      <div *ngIf="contactDataForm.controls['usuario'].errors?.existsUser" class="form-control-feedback">
        User already Exists
      </div>

    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['pasatiempos'].invalid}">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let item of contactDataForm.controls['pasatiempos'].controls; let i = index"
              class="form-control"
             type="text"
             placeholder="hobbies"
      [formControlName]="i">

      <button type="button" class="btn btn-primary" (click)="addHobbies()">Add</button>

      <div *ngIf="contactDataForm.controls['pasatiempos'].errors?.required" class="form-control-feedback">
        pasatiempo is required
      </div>

    </div>

  </div>


  <div class="form-group row" [ngClass]="{'has-danger' : contactDataForm.controls['usuario'].invalid}">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" >
        Guardar
      </button>
    </div>
  </div>

  <pre>

    Contact Form status : <strong>{{contactDataForm.status}}</strong>

  </pre>

  <pre>
    {{usuario | json}}
  </pre>


</form>
