<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Input Value</th>
    <th>Pipe</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{ nombre }}</td>
    <td>Upper case</td>
    <td>{{ nombre | uppercase}}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>{{ upperCaseName }}</td>
    <td>Lower case</td>
    <td>{{ upperCaseName | lowercase}}</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>{{ arrayData }}</td>
    <td>Slice on array</td>
    <td>{{ arrayData | slice: 1: 4}}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>{{ nombreaux }}</td>
    <td>Slice on strings</td>
    <td>{{ nombre | slice: 1: 4}}</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>{{ PI }}</td>
    <td>number</td>
    <td>{{ PI | number: '3.3-3'}}</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>{{ auxDecimals }}</td>
    <td>number</td>
    <td>{{ auxDecimals | percent: '2.1-2'}}</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>{{ salario }}</td>
    <td>currency default</td>
    <td>{{ salario | currency}}</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>{{ salario }}</td>
    <td>currency EUR</td>
    <td>{{ salario | currency: 'EUR':true:'5.0-0'}}</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>{{ salario }}</td>
    <td>currency EUR</td>
    <td>{{ salario | currency: 'EUR':true:'.2-2'}}</td>
  </tr>

  </tbody>
</table>
