<div class="jumbotron">
  <h1 class="display-3">Contact form test project</h1>
  <p class="lead">angular 2 contact form</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://bitbucket.org/leandrotula/angular-form" role="button">Bitbucket repository</a>
  </p>
</div>
